@model BookRepositoryDemoMVC_Client.Models.SellRecord

@{
    ViewData["Title"] = "Error";
}

<h1>Error occured </h1>
<br />
Could not find book id

<div>
    <a asp-action="Index" class="btn btn-danger">Back to sell qty form</a>
</div>
