@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <br />
        <h1 class="display-4">Welcome</h1>
        <br />
        <h1 class="display-2">Book Repository</h1>
        <br />
        <h8>Keep Record and Track Sell of Books</h8>
        <br />
        <br />
        <div class=" offset-4 col-4 text-center" >
            <a asp-controller="Book" asp-action="GetDetails" class="btn btn-success form-control">Books</a>
            <a asp-controller="SellRecord" asp-action="GetDetails" class="btn btn-info form-control">Sell Records</a>
            <a asp-controller="Sell" asp-action="Index" class="btn btn-danger form-control">Sell</a>
        </div>

    </div>
